body {
    background-image: url('../images/coming_soon.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
}